---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main>
      <section
        class="bg-zinc-900 bg-opacity-50 backdrop-blur-lg py-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg"
      >
        <h1 class="text-3xl flex justify-center font-semibold text-white mb-4">
          nice you found a work in progress page
        </h1>
        <!--
        <div class="container mx-auto px-6">
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 p-4 place-content-center">
              <h2 class="text-3xl font-semibold text-white mb-4">Uniforme</h2>
              <p class="text-zinc-400 leading-relaxed">
                Website e Plataforma E-commerce
              </p>
              <a
                href="https://uniformept.com"
                target="_blank"
                class="bg-red-700 hover:bg-red-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
              >
                uniformept.com
              </a>
            </div>
            <div class="w-full md:w-1/2 h-64">
              <img
                src="uniforme-w-bg-01.jpg"
                alt="Logotipo Uniforme"
                class="rounded-lg shadow-lg h-full w-full object-cover"
              />
            </div>
          </div>
        </div>
      </section>

      <section
        class="bg-zinc-900 bg-opacity-50 backdrop-blur-lg py-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg"
      >
        <div class="container mx-auto px-6">
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 p-4 place-content-center">
              <h2 class="text-3xl font-semibold text-white mb-4">
                Bombeiros Voluntarios da Figueira da Foz
              </h2>
              <p class="text-zinc-400 leading-relaxed">Website redesign</p>
              <a
                href="https://bvff.com.pt"
                target="_blank"
                class="bg-red-700 hover:bg-red-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
              >
                bvff.com.pt
              </a>
            </div>
            <div class="w-full md:w-1/2 h-64">
              <img
                src="foto-bvff.jpg"
                alt="Opel BVFF rali Portugal"
                class="rounded-lg shadow-lg h-full w-full object-cover"
              />
            </div>
          </div>
        </div>
      </section>

      <section
        class="bg-zinc-900 bg-opacity-50 backdrop-blur-lg py-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg"
      >
        <div class="container mx-auto px-6">
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 p-4 place-content-center">
              <h2 class="text-3xl font-semibold text-white mb-4">Augusta</h2>
              <p class="text-zinc-400 leading-relaxed">
                Website e Plataforma E-commerce
              </p>
              <a
                href="/"
                target="_blank"
                class="bg-red-700 hover:bg-red-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
              >
                Augusta Store
              </a>
            </div>
            <div class="w-full md:w-1/2 h-64">
              <img
                src="blog-placeholder-2.jpg"
                alt="Logotipo Uniforme"
                class="rounded-lg shadow-lg h-full w-full object-cover"
              />
            </div>
          </div>
        </div>        -->
      </section>
    </main>
    <Footer />
  </body>
</html>
